/* Stili generali per il sito */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif; /* Font normale per il testo */
}

.background {
    /* Usa l'immagine come sfondo per desktop */
    background-image: url('Vane.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: flex-end; /* Posiziona il contenitore a destra */
    align-items: center;
    padding-right: 20%; /* Sposta il contenitore più verso il centro */
}

.container {
    text-align: center; /* Centra tutto il testo */
    background-color: rgba(255, 255, 0, 0.8); /* Sfondo giallo trasparente per il testo */
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black; /* Traccia nera */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Aggiungi ombra al riquadro */
}

.large-number {
    font-size: 3em;
    display: block;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiungi ombra al testo */
}

#countdown {
    font-family: 'Impact', sans-serif; /* Font Impact per il countdown */
    font-size: 3em; /* Aumenta la dimensione del font del countdown */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiungi ombra al testo */
    color: #ff007f; /* Colore rosa per il countdown */
}

p {
    margin-top: 20px;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiungi ombra al testo */
}

/* Media query per dispositivi con una larghezza massima di 768px (tablet e smartphone) */
@media (max-width: 768px) {
    .background {
        background-image: url('Vane-1080x1920.jpg'); /* Usa l'immagine per dispositivi mobili */
        background-size: cover;
        background-position: center;
        padding-right: 0; /* Elimina il padding per adattarsi meglio */
    }

    .container {
        padding: 10px;
        width: 90%; /* Rende il contenitore più largo per dispositivi mobili */
        margin: 0 auto; /* Centra il contenitore */
    }

    .large-number {
        font-size: 2.5em; /* Riduce la dimensione del numero per dispositivi mobili */
    }

    #countdown {
        font-size: 2.5em; /* Riduce la dimensione del countdown per dispositivi mobili */
    }

    p {
        font-size: 1em; /* Riduce la dimensione del testo per dispositivi mobili */
    }
}
